@page "/login"

<style>
    .p-box {
        height: 110px;
    }
</style>

<HomeHeader></HomeHeader>
<div class="add-pet-body">
    <div class="p-box"></div>
    <LoginHeader />
    <div class="p-box"></div>
</div>
<Footer></Footer>

@code {

}
