@page "/aboutus-header"
@using Microsoft.AspNetCore.Components.Web

<link href="css/AboutUsHeader.css" rel="stylesheet" />

<div class="group-4-hyP" id="1:61">
	<div class="main-circle" id="1:62"></div>
	<p class="main-heading" id="1:63">ABOUT US</p>
	<div class="main-rectangle" id="1:64"></div>
	<img class="main-image" src="images/aboutus-main.png" id="1:65" />
	<p class="main-text" id="1:66">Our names are Javeria & Mah Rukh and we're going to tell you about our project!</p>
</div>


@code {

}
