@page "/about-us"

<style>
    .p-box {
        height: 110px;
    }

    .add-aboutus-body {
        background-image: url(/wwwroot/images/bg.jpeg);
    }

</style>

<div class="add-aboutus-body">
    <div class="p-box"></div>
    <AboutUsHeader />
    <div class="p-box"></div>

</div>

@code {
    // Your C# code logic goes here
}
