@page "/add-pet"

<style>
    .p-box {
        height: 110px;
    }

    .add-pet-body {
        background: url('/images/bg.jpeg') no-repeat;
        background-size: cover; /* This property will make the background image cover the entire page */
    }
</style>

<HomeHeader></HomeHeader>
<div class="add-pet-body">
    <div class="p-box"></div>
    <AddPetHeader />
    <div class="p-box"></div>
</div>

@code {

}
