@page "/adopt-pet"


<style>
    .p-box {
        height: 110px;
    }

</style>
<HomeHeader></HomeHeader>
<div class="add-pet-body">
    <div class="p-box"></div>
    <AdoptPetHeader/>
    <div class="p-box"></div>
</div>

<Footer/>

@code {

}
