@page "/maps"


<style>
    .p-box {
        height: 110px;
    }

</style>
<HomeHeader></HomeHeader>
<div class="add-maps-body">
    <div class="p-box"></div>
    <GoogleMapsHeader/>
    <div class="p-box"></div>
</div>

<Footer />

@code {

}
