@page "/home-c1"
@using Microsoft.AspNetCore.Components.Web;
<link href="css/HomeC1.css" rel="stylesheet" />

<section class="about" style="height:90vh;">
    <div class="main-row">
        <div class="main-col">
            <img src="images/main.png" alt="Main Image" />
        </div>
        <div class="main-text main-col">
            <h5>Do you love me? ♡</h5>
            <h1>Let's help</h1>
            <h1>find a pet</h1>
            <h1>for you</h1>
            <button type="button">Get Started</button>
        </div>
    </div>
</section>
