@page "/home-header"
@using Microsoft.AspNetCore.Components.Web

<link href="css/HomeHeader.css" rel="stylesheet" />

<header class="header">
    <nav class="navbarr">
        <div id="navbar-logo" class="align-left">
            <a class="navbar-brand" href="/home-header">
                <img src="images/logoo.png" alt="" />  
            </a>
            <a href="#" class="name">Pet Planet<span>.</span></a>
        </div>
    </nav>
    <nav class="navbar">
        <a href="#" class="menu-item">Home</a>
        <a href="#" class="menu-item">Create Account</a>
    </nav>

    <div class="custom_menu-btn">
        <button class="custom_menu-btn" @onclick="ToggleNav">
            <img src="images/menu.png" width="35" height="35" />
        </button>
    </div>

    <div id="myNav" style="@($"display: {(isNavVisible ? "table-column" : "none")}; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); color: #fff; text-align: center; z-index: 1;")">
        <img src="images/cross.png" class="cross-img" @onclick="ToggleNav" />

        <div class="overlay-content">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/contact-us">Contact Us</a>
        </div>
    </div>
</header>

<HomeC1></HomeC1>

@* 

<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar">
            <div id="navbar-logo" class="align-left">
                <a class="navbar-brand" href="/home-header">
                    <img src="images/logo.png" alt="">
                </a>
            </div>

            <div id="navbar-menu" class="align-right">
                <div class="User_option">
                    <form class="form-inline my-2 mb-3 mb-lg-0">
                        <input type="search" placeholder="Search">
                        <img type="submit" src="images/search.png" width="10" height="10" onclick="">
                    </form>
                </div>

                <div class="custom_menu-btn">
                    <button @onclick="ToggleNav">
                        <img src="images/menu.png" width="10" height="10" />
                    </button>
                </div>
                
                <div id="myNav" style="@($"display: {(isNavVisible ? "table-column" : "none")}; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); color: #fff; text-align: center; z-index: 1;")">
                    
                    <img src="images/cross.png" class="cross-img" @onclick="ToggleNav" />
                    
                    <div class="overlay-content">
                        <a href="/home">Home</a>
                        <a href="/about">About</a>
                        <a href="/contact-us">Contact Us</a>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</header> *@


<!-- end header section -->
@code {
    private bool isNavVisible = false;

    private void ToggleNav()
    {
        isNavVisible = !isNavVisible;
    }
    
}
