@page "/home-c3"
@using Microsoft.AspNetCore.Components.Web;
<link href="css/HomeC3.css" rel="stylesheet" />
<div class="c3-body">
	<div class="c3-customdiv1"></div>
<div class="wrapper">
	<div class="card">
		<i class="far fa-heart favorite-icon"></i>
		<img src="images/trial-image.jpeg" />
		<div class="info">
			<h1>Heading</h1>
			<p>Persian Cat</p>
			<a href="#" class="btn">Read More</a>
		</div>
	</div>

	<div class="card">
		<i class="far fa-heart favorite-icon"></i>
		<img src="images/trial-image.jpeg" />
		<div class="info">
			<h1>Heading</h1>
			<p>Persian Cat</p>
			<a href="#" class="btn">Read More</a>
		</div>
	</div>

	<div class="card">
		<i class="far fa-heart favorite-icon"></i>
		<img src="images/trial-image.jpeg" />
		<div class="info">
			<h1>Heading</h1>
			<p>Persian Cat</p>
			<a href="#" class="btn">Read More</a>
		</div>
	</div>
		<div class="card">
			<i class="far fa-heart favorite-icon"></i>
			<img src="images/trial-image.jpeg" />
			<div class="info">
				<h1>Heading</h1>
				<p>Persian Cat</p>
				<a href="#" class="btn">Read More</a>
			</div>
		</div>
	</div>
	<div class="c3-customdiv"></div>
</div>